  <% if @comment.errors.any? %>
    <div>
      <h4>
        <%= pluralize(@comment.errors.count, "error")%> prohibited this blog from being saved:
      </h4>
      <% @comment.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
